.central-area {
	width: 1200px;
}

.float-left {
	float: left;
	width: 600px;
	padding: 5px;
	margin-left: 125px;
	box-sizing: border-box;
}

.float-right {
	float: left;
	width: 360px;
	margin-left: 10px;
}

.padding-div {
	padding: 5px;
}

.discounted-price {
	color: #F0812B;
	font-family: "ProximaNovaSoftBold", "arial rounded mt bold", helvetica,
		arial, sans-serif;
	font-size: 55px;
	font-weight: bold;
}

.total-qty {
	color: #F0812B;
	font-family: "ProximaNovaSoftBold", "arial rounded mt bold", helvetica,
		arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
}

.join-btn {
	font-size: 18px;
	padding: 10px 80px;
}

.image-large {
	max-width: 580px;
}

.text-space {
	text-align: center;
}

.feedback-star {
    position: absolute;
    margin: -3px 0 0 -2px;
}

.lower-panel {
	margin-top: -15px;
}

/* Below is styling for rendro-countdown plugin */
.countdown-styled {
	margin-bottom: 15px;
	font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: red;
	font-weight: 300;
}

.countdown-styled div:first-child {
	margin-left: 0;
}

.countdown-styled div {
	display: inline-block;
	margin: 0 5px;
	font-size: 30px;
	font-weight: 100;
	line-height: 1;
	text-align: right;
}

.countdown-styled div span {
	color: #777;
	display: block;
	border-top: 1px solid #cecece;
	padding-top: 3px;
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: left;
}

.countdown-styled div:last-child {
	margin-left: 0;
}
